service camerahalserver /vendor/bin/hw/camerahalserver
    class main
    user cameraserver
    group audio camera input drmrpc sdcard_rw system media graphics
    ioprio rt 1
    capabilities SYS_ADMIN SYS_BOOT SYS_CHROOT SYS_RESOURCE
    writepid /dev/cpuset/top-app/tasks /dev/stune/top-app/tasks
